body {

  background-color: #FCF8E8;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-width: 7px;
  border-color: #94B49F;
  width: 5%;
}

h1{
  Color: #ECB390;
}

h3{
  color:#DF7861;
}
